// _base_theme_variables.scss
$color-theme-bg: null;
$color-theme-bg-alt: null;
$color-theme-base0: null;
$color-theme-base1: null;
$color-theme-base2: null;
$color-theme-base3: null;
$color-theme-base4: null;
$color-theme-base5: null;
$color-theme-base6: null;
$color-theme-base7: null;
$color-theme-base8: null;
$color-theme-fg: null;
$color-theme-fg-alt: null;

// Color variables
$color-theme-grey: null;
$color-theme-red: null;
$color-theme-orange: null;
$color-theme-green: null;
$color-theme-teal: null;
$color-theme-yellow: null;
$color-theme-blue: null;
$color-theme-dark-blue: null;
$color-theme-magenta: null;
$color-theme-violet: null;
$color-theme-cyan: null;
$color-theme-dark-cyan: null;
